@charset "utf-8";

/*
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
  FRIDAY - Coupons, Deals, Discounts and Promo Codes Template
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

    - File           : style.css
    - Desc           : Template - Stylesheet
    - Version        : 1.1
    - Date           : 2017-03-01
    - Author         : CODASTROID
    - Author URI     : https://themeforest.net/user/codastroid

––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
*/



/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––––>>> Components  <<<–––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.lnr {
  font-weight: bold;
}
.min-height{
  min-height: 225px;
}
.block-quote {
  position: relative;
  font-size: 15px;
  background-color: #e6fff1;
  border-left-color: #00AAE3;
  margin: 20px 0 30px 20px;
  padding: 30px 30px 40px 30px;
}
.block-quote:after {
  font-size: 20px;
  bottom: 10px;
  color: #00AAE3;
  content: "\f10e";
  font-family: fontawesome;
  position: absolute;
  right: 30px;
}
/* List Styles */
.list-styled {
  list-style-type: disc;
  padding-left: 20px;
  list-style-position: inside;
}
/* Custom Checkbox / Radio */
.custom-checkbox,
.custom-radio {
  position: relative;
  padding-left: 24px;
}
.custom-checkbox input[type="checkbox"],
.custom-radio input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: 1;
}
.custom-checkbox label,
.custom-radio label {
  display: inline-block;
  line-height: 24px;
  vertical-align: middle;
  position: relative;
  padding-left: 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.custom-checkbox label::after,
.custom-radio label::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  left: 0;
  top: 0;
  margin-left: -24px;
  background-color: white;
  border: 2px solid #d4d4d4;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer;
}
.custom-radio label::after {
  border-radius: 999px;
}
.custom-checkbox label::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 8px;
  top: 6px;
  left: 0px;
  margin-left: -18px;
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  background: transparent;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.custom-radio label::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 2px;
  left: 2px;
  margin-left: -24px;
  border-radius: 999px;
  opacity: 0;
  z-index: 1;
  border: 4px solid #fff;
}
.custom-checkbox input[type="checkbox"]:checked + label::after,
.custom-radio input[type="radio"]:checked + label::after {
  border-color: #00AAE3;
  background-color: #00AAE3;
}
.custom-checkbox input[type="checkbox"]:checked + label::before,
.custom-radio input[type="radio"]:checked + label::before {
  opacity: 1;
}
/* Fix Bootstrap Media */
.media-object {
  max-width: none;
}
/* Styled Title */
.h-title {
  position: relative;
  padding-bottom: 0.85em;
}
.h-title:before {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background: #f1f1f1;
}
.h-title:after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 40px;
  height: 2px;
  background: #00AAE3;
}
/* Alert Error */
.alert-error {
  background-color: #ea4335;
  color: #fff;
  padding: 20px;
}
/* Rating Stars */
.rating {
  color: #108ac0;
}
.rating .rating-stars {
  unicode-bidi: bidi-override;
  direction: rtl;
  white-space: nowrap;
  display: inline-table;
}
.rating .rating-stars.rate-allow {
  cursor: pointer;
}
.rating .fa {
  display: table-cell;
  font-size: 16px;
  padding: 2px;
}
.rating .rate-allow .fa:hover:before,
.rating .rate-allow .fa:hover ~ .fa:before,
.rating .rating-stars .fa.star-active:before,
.rating .rating-stars .fa.star-active ~ .fa:before {
  content: "\f005";
}
.rating .rating-reviews {
  color: #717f86;
  margin-left: 6px;
}
/* Social Icons */
.social-icons__item .fa {
  font-size: 15px;
  margin: 0;
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 3px;
  color: #F5F5F5;
  background-color: rgba(49, 69, 85, 0.25);
}
.social-icons__item .fa:hover {
  background-color: rgba(49, 69, 85, 0.4);
}
.social-icons--colored .social-icons__item i.fa-facebook {
  background-color: #3b5998;
}
.social-icons--colored .social-icons__item i.fa-facebook:hover {
  background-color: #344e86;
}
.social-icons--colored .social-icons__item i.fa-twitter {
  background-color: #1da1f2;
}
.social-icons--colored .social-icons__item i.fa-twitter:hover {
  background-color: #0d95e8;
}
.social-icons--colored .social-icons__item i.fa-google-plus {
  background-color: #dd4b39;
}
.social-icons--colored .social-icons__item i.fa-google-plus:hover {
  background-color: #d73925;
}
.social-icons--colored .social-icons__item i.fa-linkedin {
  background-color: #0077b5;
}
.social-icons--colored .social-icons__item i.fa-linkedin:hover {
  background-color: #00669c;
}
.social-icons--colored .social-icons__item i.fa-pinterest {
  background-color: #cc2222;
}
.social-icons--colored .social-icons__item i.fa-pinterest:hover {
  background-color: #b61e1e;
}
.label {
  font-size: 11px;
  font-weight: normal;
  padding: 5px 10px;
}
.label-success {
  background-color: #00AAE3;
}
.panel {
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
}
.label-discount {
  color: #fff;
  font-size: 12px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  display: block;
  position: absolute;
  z-index: 1;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 999px;
  background-color: #1283c2;
  border: 1px dashed #fff;
  box-shadow: 0 0 0 2px #1283c2;
}
/* Pagination */
.page-pagination {
  font-size: 13px;
  margin: 20px auto;
  text-align: center;
}
.page-pagination li {
  display: inline;
}
.page-pagination a.page-numbers,
.page-pagination .page-numbers.current {
  display: inline-block;
  margin: 0 2px;
  padding: 0 13px;
  line-height: 32px;
  height: 36px;
  border: 2px solid transparent;
  border-radius: 4px;
  -webkit-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.page-pagination a.page-numbers {
  border-color: #d3d9dd;
  color: #576366;
}
.page-pagination .page-numbers.current,
.page-pagination a.page-numbers:hover {
  border-color: #00AAE3;
  background-color: #00AAE3;
  color: #fff;
}
/* Flex Slider */
.flexslider {
  margin: 0;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.flexslider.flexslider-nav {
  -webkit-box-shadow: 0px -5px 8px 0px rgba(0,0,0,.3);
  box-shadow: 0px -3px 8px 0px rgba(0,0,0,.3);
}
.flex-control-thumbs {
  margin: 0;
}
.flex-direction-nav a:before {
  font-size: 25px;
}
/* Page Control */
.page-control {
  overflow: visible;
}
.page-control .dropdown .btn {
  background-color: transparent;
  color: #999;
  padding: 0;
  height: auto;
}
.page-control .list-control-view .fa {
  font-size: 18px;
  padding-top: 6px;
  color: #555;
}
.page-control select.input-sm {
  padding: 0 30px 0 10px;
}
.page-control .dropdown-menu {
  top: 130%;
  left: -6px;
  border-radius: 0;
  border-color: #eee;
}
.page-control .dropdown-menu > li > a {
  padding: 5px 20px;
}
/* Js Tabs */
.nav-tabs {
  border-bottom: 0;
}
.nav-tabs > li {
  margin-bottom: 0;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: 0;
  box-shadow: none;
  color: #00AAE3;
}
.nav-tabs > li > a {
  padding: 15px 20px;
  border: 0;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  background-color: transparent;
}

/* Flag Icons*/
[class*="fa-flag"] {
  width: 16px;
  height: 11px;
  background-image: url("../images/icons/flags.png");
}
.fa-flag-usa {
  background-position: 0 0;
}
.fa-flag-fra {
  background-position: 0 11px;
}
.fa-flag-ger {
  background-position: 0 22px;
}
.fa-flag-rus {
  background-position: 0 33px;
}

/* Owl Carousel */
.owl-theme .owl-nav {
  margin-top: 0;
}
.owl-theme .owl-nav [class*=owl-] {
  position: absolute;
  top: 50%;
  font-size: 20px;
  margin: 0;
  padding: 4px 8px;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 400ms linear 0ms;
  -ms-transition: all 400ms linear 0ms;
  -o-transition: all 400ms linear 0ms;
  transition: all 400ms linear 0ms;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  background: rgba(0, 0, 0, 0.7);
}
.owl-carousel .owl-nav .owl-prev {
  left: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.owl-carousel .owl-nav .owl-next {
  right: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––––>>> Preloader  <<<––––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.loader-cube {
  left: 50%;
  top: 50%;
  position: absolute;
  margin-top: -30px;
  margin-left: -30px;
  width: 40px;
  height: 40px;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.loader-cube .loader-cube__item {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.loader-cube .loader-cube__item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00AAE3;
  -webkit-animation: loaderAnim 2.4s infinite linear both;
  animation: loaderAnim 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.loader-cube .loader-cube__item2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.loader-cube .loader-cube__item3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
.loader-cube .loader-cube__item4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
.loader-cube .loader-cube__item2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.loader-cube .loader-cube__item3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.loader-cube .loader-cube__item4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes loaderAnim {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
@keyframes loaderAnim {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––––––>>> Header  <<<–––––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* |–––––––––––––––––[ Top bar ]–––––––––––––––| */
.nav-top ul {
  padding: 8px;
  opacity: 0;
  display: none;
  visibility: hidden;
  position: absolute;
  top: 150%;
  left: 0;
  text-align: left;
  background: #fff;
  border: 1px solid #eee;
  min-width: 200px;
  -webkit-box-shadow: 1px 0 2px rgba(0, 0, 2, 0.1);
  box-shadow: 1px 0 2px rgba(0, 0, 2, 0.1);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: -9;
}
.nav-top > li {
  position: relative;
}
.nav-top-left > li + li {
  padding-left: 12px;
}
.nav-top-right > li + li {
  padding-right: 12px;
}
.nav-top > li:hover ul {
  display: block;
  visibility: visible;
  z-index: 9;
  opacity: 1;
  top: 100%;
}
.nav-top a {
  display: block;
  font-size: 12px;
  line-height: 22px;
  color: #333;
  padding-top: 5px;
  padding-bottom: 5px;
}
.nav-top a:hover {
  color: #000;
}
.nav-top > li > a {
  padding-top: 12px;
  padding-bottom: 12px;
}
.nav-top > li:hover > a {
  color: #000;
}
.nav-top ul a {
  padding: 5px 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.nav-top ul a:hover {
  background-color: #f1f1f1;
}
.nav-top .fa {
  margin-right: 6px;
  font-size: 14px;
  color: #00AAE3;
}

/* |–––––––––––––––––[ Header Header ]–––––––––––––––| */
.header-header {
  padding-top: 30px;
  padding-bottom: 30px;
}
.header-search .search-input {
  border-right: 1px solid #ddd;
}
.header-search .search-select {
  width: 180px !important;
  border-left: 0;
  border-radius: 0;
}
.header-search .btn-lg {
  padding-left: 20px;
  padding-right: 20px;
}
.header-search .form-control {
  font-size: 12px;
}
.header-search .form-control:focus {
  border-color: #ddd;
}
.header-cart,
.header-wishlist {
  position: relative;
  display: inline-block;
  padding-left: 40px;
  vertical-align: top;
  text-align: left;
}
.header-cart .icon,
.header-wishlist .icon {
  position: absolute;
  top: 2px;
  left: 0;
  font-size: 34px;
  font-weight: normal;
}
.header-cart .title,
.header-wishlist .title {
  display: inline-block;
  width: 35px;
  line-height: 1.6;
}
.header-cart .cart-number,
.header-wishlist .cart-number {
  display: inline-block;
  font-size: 12px;
  height: 16px;
  padding: 0 8px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  background-color: #ff6666;
  border-radius: 16px;
}

/* |–––––––––––––––––[ Header Menu ]–––––––––––––––| */
.nav-menu > li > a,
.nav-menu-fixed > a {
  color: #fff;
}
.nav-menu > li > ul a {
  color: #314555;
}
.nav-menu-fixed > a,
.nav-menu > li:hover > a,
.nav-menu > li.active > a {
  background-color: #2C2E2F;;
}
.nav-menu > li > ul a {
  color: #314555;
  background-color: #fff;
}
.nav-menu > li > ul li:hover > a,
.nav-menu > li > ul li.active > a {
  color: #00AAE3;
  background-color: #f1f1f1;
}
.nav-bar {
  position: relative;
}
.nav-header {
  position: relative;
  display: none;
}
.nav-menu > li a .indicator {
  margin-left: 10px;
}
.nav-menu > li > ul li a .indicator {
  position: absolute;
  top: 0;
  right: 15px;
}
.nav-toggle {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 40px;
  padding: 10px 4px;
  left: 0;
}
.nav-toggle i {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.nav-toggle i + i {
  margin-top: 7px;
}
.nav-menu {
  margin: 0 auto;
  list-style: none;
  padding: 0;
  position: relative;
}
.nav-menu:before,
.nav-menu:after {
  content: "";
  display: table;
}
.nav-menu:after {
  clear: both;
}
.nav-menu.nav-menu-fixed {
  position: absolute;
  top: 0;
  right: 0;
}
.nav-menu.nav-menu-fixed a {
  display: inline-block;
}
.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-menu > li > ul,
.nav-menu > li > ul > li ul,
.nav-menu .mega-menu {
  background: #fff;
  margin: 0;
  display: none;
  min-width: 200px;
  position: absolute;
  z-index: 99;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}
.nav-menu > li > ul {
  top: 100%;
  left: 0;
}
.nav-menu > li:last-child > ul {
  right: 0;
}
.nav-menu > li > ul > li ul {
  top: 0;
  left: 100%;
}
.nav-menu > li:last-child > ul > li ul {
  right: 100%;
}
.nav-menu .mega-menu {
  width: 100%;
  top: 100%;
  left: 0;
  padding: 15px 20px;
}
.nav-menu li {
  display: block;
  position: relative;
}
.nav-menu .dropdown-mega-menu {
  position: static;
}
.nav-menu > li {
  float: left;
}
.nav-menu a {
  text-decoration: none;
  display: block;
  padding: 0 16px;
  margin: 0;
  position: relative;
}
.nav-menu .mega-menu a {
  padding: 0;
}
.nav-menu > li > a,
.nav-menu > a {
  height: 60px;
  line-height: 60px;
}
.nav-menu > li ul li a {
  height: 40px;
  line-height: 40px;
}
.nav-menu .mega-menu li a {
  height: 35px;
  line-height: 35px;
}
.nav-menu .mega-menu .mega-title {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 14px;
}
@media only screen and (max-width: 959px) {
  .nav-menu {
    background-color: #fff;
  }
  .nav-menu li > a,
  .nav-menu li.active a {
    color: #314555;
    background-color: #fff;
  }
  .nav-menu li:hover > a,
  .nav-menu li.active-mobile > a {
    color: #00AAE3;
    background-color: #f1f1f1;
  }
  .nav-header {
    display: block;
  }
  .nav-collapse {
    display: none;
    padding-bottom: 10px;
  }
  .nav-header,
  .nav-menu.nav-menu-fixed a {
    height: 60px;
    line-height: 60px;
  }
  .nav-menu > li a .indicator {
    position: absolute;
    top: 0;
    right: 20px;
  }
  .nav-menu ul {
    padding-left: 20px;
  }
  .nav-menu .mega-menu,
  .nav-menu > li > ul,
  .nav-menu > li > ul > li ul {
    width: 100%;
    position: static;
  }
  .nav-menu .mega-menu {
    padding: 0 20px;
  }
  .nav-menu li {
    width: 100%;
    float: none;
    border-bottom: 1px solid #eee;
  }
  .nav-menu li:last-child {
    border-bottom: 0;
  }
  .nav-menu > li > a {
    height: 40px;
    line-height: 40px;
  }
  .nav-menu > li ul li a {
    height: 40px;
    line-height: 40px;
  }
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––––––>>> Footer  <<<–––––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.footer-top-area h2 {
  font-size: 16px;
  line-height: 26px;
  color: #eee;
  /*margin: 0 0 40px 0;*/
  text-transform: uppercase;
}
.footer-top-area .twitter-list a,
.footer-top-area .twitter-list .ico {
  color: #00AAE3;
}
.footer-top-area .twitter-list .ico {
  font-size: 18px;
  margin-right: 8px;
}
.footer-top-area .footer-links ul li a {
  display: block;
  position: relative;
  color: white;
  height: 25px;
  line-height: 25px;
  padding-left: 20px;
  /*text-transform: capitalize;*/
}
.footer-top-area .footer-links ul li a:before {
  content: "\f105";
  font-family: fontAwesome;
  font-size: 15px;
  position: absolute;
  left: 0;
  top: 0;
  height: inherit;
  line-height: inherit;
  color: #00AAE3;
}
.main-footer {
  text-align: center;
  background: #1e2b35;
  height: 60px;
}
.main-footer p {
  font-size: 15px;
  line-height: 26px;
  color: #647d89;
  margin: 17px 0 0 0;
}
.payment-methods {
  opacity: 0.8;
}
.payment-methods img {
  border-radius: 2px;
  width: 55px;
}
.payment-methods span {
  padding: 0 2px;
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* –––––––––––––>>> Back to Top  <<<–––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* –––––––––––––[ Back Top Styles ]––––––––––––– */
.back-top {
  z-index: 9999;
  position: fixed;
  right: 30px;
  bottom: -10px;
  opacity: 0;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
  -webkit-transition: all 400ms linear 0ms;
  -ms-transition: all 400ms linear 0ms;
  -o-transition: all 400ms linear 0ms;
  transition: all 400ms linear 0ms;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 20px;
}
.back-top:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.back-top.show {
  opacity: 1;
  bottom: 30px;
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––>>> Coupons Header  <<<–––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.nav-coupon-category li a {
  display: block;
  position: relative;
  text-transform: uppercase;
  line-height: 43px;
  height: 43px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #717f86;
  padding-left: 5px;
  font-size: 12px;
  -webkit-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
@media only screen and (min-width: 1200px) {
  .nav-coupon-category li a {
    line-height: 46px;
    height: 46px;
  }
}
.nav-coupon-category .all-cat a {
  padding-right: 20px;
  padding-left: 20px;
  height: 50px;
  line-height: 50px;
}
.nav-coupon-category li a .fa {
  font-size: 15px;
  width: 40px;
  margin-right: 20px;
  color: #00AAE3;
  border-right: 1px solid #ddd;
  text-align: center;
}
ul.deaks li {
  float: left;
  padding: 20px 28px;
  font-size: 20px;
}
.nav-coupon-category li a .fas {
  font-size: 15px;
  width: 40px;
  margin-right: 20px;
  color: #00AAE3;
  border-right: 1px solid #ddd;
  text-align: center;
}
.nav-coupon-category li a > span {
  margin-left: 8px;
  color: #bfbfbf;
  padding: 1px 7px;
  border-radius: 2px;
  font-size: 11px;
  -webkit-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.nav-coupon-category li a:hover {
  padding-left: 12px;
}
.nav-coupon-category li a:hover > span {
  margin-left: 10px;
  color: #fff;
  background-color: #00AAE3;
}
.nav-coupon-category li + li {
  border-top: 1px solid #eee;
}
.price {
  color: #00AAE3;
  margin-bottom: 0;
}
.price-sale {
  color: #d84523;
  font-size: 85%;
  text-decoration: line-through;
  margin-right: 1em;
}
.deal-thumbnail:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…B3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=);
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(30%, rgba(0, 0, 0, 0.3)), color-stop(65%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0.95)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.5) 65%, rgba(0, 0, 0, 0.95) 100%);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.5) 65%, rgba(0, 0, 0, 0.95) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.5) 65%, rgba(0, 0, 0, 0.95) 100%);
  z-index: 0;
  opacity: 0.5;
}
.deals-header-area .deal-single {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.deals-header-area .deal-thumbnail {
  height: 240px;
  font-family: 'monL', sans-serif;
  font-weight: 100;
}
@media (max-width: 991px) {
  .deals-header-area .deal-thumbnail {
    height: 350px;
  }
}
@media (max-width: 767px) {
  .deals-header-area .deal-thumbnail {
    height: 250px;
  }
}
.deal-single .time-left {
  font-size: 13px;
  position: absolute;
  color: #fff;
  z-index: 10;
}
.deal-single .deal-store-logo {
  z-index: 10;
  width: 50px;
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.deal-single .deal-store-logo img {
  border-radius: 3px;
}
.deal-actions {
  position: absolute;
  z-index: 10;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.deal-actions li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  color: #fff;
  cursor: pointer;
}
.deal-actions li > span {
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 4px;
  background-color: #ff0404;
  opacity: 0.6;
  filter: alpha(opacity=60);
  text-align: center;
}
.deal-actions li .share-tooltip {
  position: absolute;
  right: -48px;
  top: 35px;
  background-color: #00AAE3;
  white-space: nowrap;
  display: block;
  padding: 0 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.deal-actions li .share-tooltip:after {
  border: solid transparent;
  content: ' ';
  height: 0;
  position: absolute;
  right: 39%;
  top: -13px;
  left: inherit;
  z-index: 2;
  width: 0;
  border-width: 7px;
  border-bottom-color: #00AAE3;
}
.deal-actions li .share-tooltip a {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  padding: 0 6px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.deal-actions li.like-deal.favorite .fa-heart {
  color: red;
}
.deal-single .label {
  text-transform: uppercase;
}
.deal-single .label-featured {
  position: absolute;
  z-index: 2;
}
.deal-single .panel-body {
  position: relative;
}
.deal-single p {
  font-size: 13px;
  margin-bottom: 10px;
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* –––––––––––>>> Stores Area  <<<–––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.stores-area-v1 .store-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.stores-area-v1 .store-name {
  padding: 6px 0;
  border-top: 1px solid #f1f1f1;
  background-color: #f7f8f9;
}
.stores-area-v2 .letters-toolbar span a {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}
.stores-area-v2 .letters-toolbar span + span a {
  border-left: 1px solid #eee;
}
.stores-area-v2 .letters-toolbar .all-stores a {
  width: auto;
  padding: 0 12px;
}
.stores-area-v2 .stores-cat {
  display: inline-block;
  width: 100%;
}
.stores-area-v2 .stores-cat .stores-cat-header {
  color: #00AAE3;
  padding: 0 30px;
  line-height: 48px;
  margin: 0px;
  display: inline-block;
  width: 100%;
  background-color: #f7f8f9;
}
.stores-area-v2 .stores-cat .stores-cat-body {
  padding: 30px;
}
.stores-area-v2 .stores-cat li a {
  line-height: 36px;
  color: #777;
  display: inline-block;
  width: 100%;
}
.stores-area-v2 .stores-cat li a:hover {
  color: #333;
}
.stores-area-v2 .stores-cat ul li ul {
  padding: 0px;
  border-right: 1px dashed #cccccc;
}
.stores-area-v2 .stores-cat ul li:last-child ul {
  border-right: none;
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* –––––––––––––>>> Store Page  <<<–––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.store-page .store-splitter-left {
  border-left: 1px dashed #ddd;
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––>>> Posted Review  <<<––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.review-wrapper {
  border: 2px solid #e5ecf4;
  background-color: #fbfbfb;
  border-radius: 4px;
  padding: 10px 20px;
  position: relative;
  overflow: visible;
}
.review-wrapper:before,
.review-wrapper:after {
  content: '';
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  z-index: 10;
}
.review-date {
  font-size: 13px;
  color: #9e9e9e;
  margin-top: 5px;
}
.review-avatar img {
  width: 80px;
  border-radius: 4px;
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* –––––––––––>>> Deals Area  <<<–––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.deals-area header.panel {
  overflow: visible;
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* –––––––––––>>> Coupons Area  <<<–––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.coupon-single {
  position: relative;
}
.showcode {
  position: relative;
  z-index: 1;
}
.coupon-hide {
  display: block;
  width: 100%;
  height: 34px;
  line-height: 34px;
  padding: 0 15px;
  font-size: 15px;
  color: #F50;
  border-radius: 3px;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: repeating-linear-gradient(45deg, transparent, transparent 10px, #eee 10px, #eee 20px), linear-gradient(to bottom, #c2ead4, #c2ead4);
}
.show-code {
  position: absolute;
  top: 0;
  left: 0;
}
.showcode:hover .show-code {
  width: 80%;
}
.coupon-showen .coupon-hide {
  text-align: center;
  border: 2px dashed #00AAE3;
  line-height: 28px;
}
.coupon-showen .show-code {
  display: none;
}
@media only screen and (min-width: 768px) {
  .coupons-area-list .showcode {
    width: 50%;
    float: right;
  }
}
.coupon-single .ribbon-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 80px;
  height: 85px;
}
.ribbon {
  font-size: 10px;
  position: relative;
  top: 17px;
  left: -8px;
  width: 120px;
  padding: 1px;
  color: #fff;
  text-align: center;
  background-color: #ff3100;
  text-transform: uppercase;
  z-index: 2;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* –––––––––––>>> Subscribe Area  <<<–––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.newsletter-form {
  max-width: 480px;
  margin: 25px auto 0;
}
.newsletter-form .form-control {
  border-color: #00AAE3;
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* –––––––––––>>> Get Coupon Area  <<<–––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.get-coupon-area {
  text-align: center;
}
.get-coupon-area .coupon-code {
  display: inline-block;
  font-size: 21px;
  position: relative;
  margin: 20px auto;
  padding: 5px 30px;
  text-align: center;
  border: 2px dashed azure;
  background-color: #d9edf7;
  color: #F50;
}
.get-coupon-area .about-coupon p {
  margin-bottom: 15px;
}
.get-coupon-area .like-report {
  color: #7b8b8e;
}
.get-coupon-area .like-report .link-vote {
  font-size: 16px;
  padding: 5px 8px;
}
.get-coupon-area .like-report .link-vote.like {
  color: #649127;
}
.get-coupon-area .like-report .link-vote.dislike {
  color: #d70954;
}
.get-coupon-area .modal-footer {
  background-color: #f5fdf9;
}
.get-coupon-area .social-icons .fa {
  height: 28px;
  width: 28px;
  line-height: 28px;
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––>>> Sign In / Up Area  <<<–––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.sign-area .sign-title {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.sign-area .col-left {
  border-right: 1px solid #eee;
}
.sign-area label {
  font-weight: normal;
}
.sign-area .or {
  text-align: center;
  position: absolute;
  right: 0;
  top: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  margin-right: -20px;
  margin-top: -20px;
  color: #97a4ad;
  text-transform: uppercase;
}
.btn-social {
  text-transform: capitalize;
  position: relative;
  letter-spacing: 0.5px;
  border: 0;
}
.btn-social .fab {
  font-size: 20px;
  position: absolute;
  top: 13px;
  left: 18px;
}
.btn-facebook {
  background-color: #3b5999;
}
.btn-facebook:hover,
.btn-facebook:focus {
  background-color: #344e87;
}
.btn-twitter {
  background-color: #00aced;
}
.btn-twitter:hover,
.btn-twitter:focus {
  background-color: #0099d4;
}
.btn-google-plus {
  background-color: #dd4b39;
}
.btn-google-plus:hover,
.btn-google-plus:focus {
  background-color: #d73925;
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* –––––––––––––>>> Contact Area  <<<––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.contact-area .contact-list {
  padding-top: 20px;
}
.contact-area .contact-list li {
  position: relative;
  padding: 0 0 0 60px;
  margin-bottom: 40px;
}
.contact-area .contact-list li h5 {
  margin-bottom: 6px;
}
.contact-area .contact-list li .icon {
  font-size: 26px;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 42px;
  color: white;
  background-color: #00AAE3;
  border-radius: 3px;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 0 0 2px #00AAE3;
  box-shadow: 0 0 0 2px #00AAE3;
}
.contact-area-v1 {
  border-top: 4px solid #00AAE3;
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* –––––––––––>>> Error Page Area  <<<–––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.error-page-header {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 250px;
  line-height: 1;
}
.error-page-header span {
  margin: -20px;
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* –––––––––––––––>>> Faq Area  <<<––––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.faq-area .panel-default > .panel-heading {
  border: 0;
  padding: 0;
  position: relative;
}
.faq-area .panel-title {
  font-size: 15px;
}
.faq-area .panel-title > a {
  display: block;
  padding: 15px;
  background-color: #00AAE3;
  color: #fff;
  -webkit-transition: all 0s linear;
  -ms-transition: all 0s linear;
  -o-transition: all 0s linear;
  transition: all 0s linear;
}
.faq-area .panel-title > a.collapsed {
  background-color: #f9f9f9;
  color: #222;
}
.faq-area .panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top: 0;
}
.faq-area .panel-title a:before {
  font-family: 'FontAwesome';
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 999px;
  position: absolute;
  right: 10px;
  top: 13px;
  font-size: 13px;
  display: inline-block;
  text-align: center;
}
.faq-area .panel-title .collapsed:before {
  content: "\f067";
  color: #222;
}
.faq-area .panel-title a:before {
  content: "\f068";
  color: #fff;
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* –––––––––––––––––>>> Cart  <<<––––––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.cart-list {
  width: 100%;
}
.cart-list thead {
  border-bottom: 15px solid #e9ebee;
}
.cart-list thead th {
  padding: 15px;
}
.cart-list thead th:nth-child(1) {
  width: 50%;
}
.cart-list thead th:nth-child(2),
.cart-list thead th:nth-child(3),
.cart-list thead th:nth-child(4) {
  width: 15%;
}
.cart-list thead th:nth-child(5) {
  width: 5%;
}
.cart-list tbody tr {
  border-bottom: 10px solid #e9ebee;
}
.cart-list tbody tr:last-child {
  border-bottom: 0;
}
.cart-list tbody tr td {
  padding: 15px;
  vertical-align: middle;
  color: #555;
}
.cart-list .product-thumb {
  width: 120px;
  margin-right: 10px;
}
.cart-list .media-body .type span {
  color: #222;
}
.cart-list .quantity-label {
  width: 45px;
  border: 0;
  background: transparent;
  outline: none !important;
}
.cart-list .sub-total {
  color: #00AAE3;
}
.cart-list i.fa-trash-o {
  font-size: 18px;
  color: #F00;
}
.cart-list tbody tr td .close {
  float: left;
  opacity: 1;
}
.cart-price ul {
  padding: 15px 30px;
}
.cart-price ul li {
  padding: 10px 0;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 10px;
}
.cart-price ul li:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}
.cart-price ul li .item-name {
  float: left;
  color: #8b8b8b;
}
.cart-price ul li .price {
  text-align: right;
  color: #999;
}
.cart-price ul li .item-name strong {
  color: #222222;
  font-size: 14px;
}
.cart-price ul li .price span {
  color: #00AAE3;
  font-size: 15px;
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* –––––––––––––––>>> Wishlist  <<<––––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.wishlist {
  width: 100%;
}
.wishlist tbody tr {
  border-bottom: 20px solid #e9ebee;
}
.wishlist tbody tr:last-child {
  border-bottom: 0;
}
.wishlist tbody tr td {
  padding: 15px;
  vertical-align: middle;
  color: #555;
}
.wishlist .product-thumb {
  width: 120px;
  margin-right: 10px;
}
.wishlist .media-body .type span {
  color: #222;
}
.wishlist tbody tr td .close {
  opacity: 1;
}
.wishlist i.fa-trash-o {
  font-size: 18px;
  color: #F00;
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––––>>> Blog Area  <<<––––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.post-thumbnail {
  position: relative;
}
.post-thumbnail:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.entry {
  position: relative;
}
.entry .entry-date {
  top: 15px;
  left: 15px;
  position: absolute;
  z-index: 10;
  width: 60px;
}
.entry .entry-date > h4,
.entry .entry-date > h6 {
  color: #fcfcfc;
  font-size: 22px;
  background: #00AAE3;
  text-align: center;
  padding: 5px;
  border-radius: 3px 3px 0 0;
  margin-bottom: 0;
}
.entry .entry-date > h6 {
  font-size: 14px;
  background: #314555;
  border-radius: 0 0 3px 3px;
}
.entry-meta .icon {
  font-size: 14px;
  margin-right: 8px;
}
.entry-meta,
.entry-meta a {
  color: #b2bac2;
}
.entry-meta a:hover {
  color: #00AAE3;
}
.entry .soundcloud-embed iframe {
  width: 100%;
}
/* Latest News Area */
.latest-news-area.blog-grid .entry .entry-content {
  height: 5.6em;
}
/* Blog Grid */
.blog-grid .entry .entry-content {
  height: 7.2em;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Blog Single Post */
.blog-quote-section {
  font-size: 16px;
  background-color: #03b6e7;
  border-left: 0;
  padding: 60px 80px;
  position: relative;
  margin: 0;
}
.blog-quote-section:before,
.blog-quote-section:after {
  font-family: "FontAwesome";
  font-size: 28px;
  font-weight: 400;
  color: #fff;
  position: absolute;
}
.blog-quote-section:before {
  content: '\f10d';
  left: 30px;
  top: 20px;
}
.blog-quote-section:after {
  content: '\f10e';
  bottom: 15px;
  right: 45px;
}
.blog-quote-section p {
  color: #fff;
}
.blog-post-tags li {
  display: inline-block;
}
.blog-post-tags a {
  color: #717f86;
  display: inline-block;
  padding: 2px 10px;
  border: 1px solid #ddd;
  background-color: #F5F5F5;
}
.blog-post-tags a:hover {
  color: #00AAE3;
}
.blog-post-tags li + li {
  margin-left: 5px;
}
.share-buttons li {
  display: inline-block;
  margin: 0 6px 8px 0;
}
.share-buttons li a {
  background: #fff;
  border: 2px solid #666;
  border-radius: 3px;
  font-size: 14px;
  padding: 8px 20px;
  display: inline-block;
  line-height: 15px;
  -webkit-transition: all 400ms linear 0ms;
  -ms-transition: all 400ms linear 0ms;
  -o-transition: all 400ms linear 0ms;
  transition: all 400ms linear 0ms;
}
.share-buttons li a.fb-share {
  border-color: #3b5998;
  color: #3b5998;
}
.share-buttons li a.fb-share:hover {
  background-color: #3b5998;
  color: #fff;
}
.share-buttons li a.twitter-share {
  border-color: #1da1f2;
  color: #1da1f2;
}
.share-buttons li a.twitter-share:hover {
  background-color: #1da1f2;
  color: #fff;
}
.share-buttons li a.gplus-share {
  border-color: #dd4b39;
  color: #dd4b39;
}
.share-buttons li a.gplus-share:hover {
  background-color: #dd4b39;
  color: #fff;
}
.share-buttons li a.pinterest-share {
  border-color: #bd081c;
  color: #bd081c;
}
.share-buttons li a.pinterest-share:hover {
  background-color: #bd081c;
  color: #fff;
}
.posts-nav {
  width: 100%;
  position: relative;
  display: inline-block;
  min-height: 60px;
}
.posts-nav li {
  position: absolute;
  font-size: 17px;
  font-weight: 500;
  width: 50%;
}
.posts-nav li span {
  display: block;
  color: #999;
  font-size: 13px;
  margin-bottom: 1px;
  font-weight: 500;
}
.posts-nav li.next-post {
  right: 0;
  text-align: right;
}
.posts-nav li.next-post a {
  padding-right: 50px;
}
.posts-nav li.next-post a .fa {
  right: 10px;
}
.posts-nav li.prev-post {
  left: 0;
}
.posts-nav li.prev-post a {
  padding-left: 50px;
}
.posts-nav li.prev-post a .fa {
  left: 10px;
}
.posts-nav li a {
  color: #888;
  display: inline-block;
}
.posts-nav li a .fa {
  font-size: 40px;
  position: absolute;
  color: inherit;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}
.post-author-area .media-body {
  padding-left: 15px;
}
.post-author-area .media-body h3 {
  margin-bottom: 0.15em;
  text-transform: uppercase;
}
.post-author-area .media-body h5 {
  font-size: 0.9em;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-bottom: 1em;
}
.post-author-area .social-icons .fa {
  width: 28px;
  height: 28px;
  line-height: 28px;
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* –––––––––––––––>>> Comments  <<<––––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.comments-area .posted-comments {
  padding: 20px;
}
.comments-area .posted-comments .comment-meta {
  position: relative;
}
.comments-area .posted-comments .comment-reply-link {
  position: absolute;
  right: 0;
  top: 0;
}
.posted-comments .comment-author-thumb img {
  width: 100px;
  height: 100px;
  border-radius: 3px;
}
.posted-comments .media {
  margin-top: 0;
}
.posted-comments .comment-list li {
  margin-bottom: 40px;
}
.posted-comments .comment-replays li:last-child {
  margin-bottom: 0;
}
.posted-comments .comment-list > li:last-child {
  margin-bottom: 0;
}
.posted-comments ol ol {
  padding-left: 100px;
  margin-top: 20px;
}
.comment-respond {
  padding: 20px;
}
/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* –––––––––––>>> Sidebar Widgets  <<<–––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.widget-title {
  font-size: 18px;
}
/* Recent Posts */
.recent-posts .recent-post .post-meta {
  font-size: 12px;
  color: #717f86;
}
.recent-posts .recent-post .media-left img {
  width: 80px;
  height: 80px;
}
/* Categories / Archive Widget */
.categories-widget ul > li,
.archive-widget ul > li {
  padding: 12px 0 5px;
}
.categories-widget ul > li + li,
.archive-widget ul > li + li {
  border-top: 1px solid #f2f2f2;
}
.categories-widget li a,
.archive-widget li a {
  display: block;
  font-weight: 300;
  padding-left: 15px;
  position: relative;
}
.categories-widget li a:after,
.archive-widget li a:after {
  content: "\f0da";
  font-family: "FontAwesome";
  font-size: 15px;
  line-height: 17px;
  position: absolute;
  left: 0;
  top: 3px;
}
.categories-widget li span {
  float: right;
}
/* popular-tags sidebar */
.tags .badge {
  margin-right: 8px;
  padding: 0 12px;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  font-weight: normal;
  border-radius: 3px;
  color: #fff;
  background-color: #b3bfc5;
  margin-bottom: 12px;
  -webkit-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.tags .badge:hover {
  color: #fff;
  background-color: #00AAE3;
}
/* Instagram Widget */
.instagram-widget .instagram-widget__item img {
  display: block;
  width: 100%;
}
/* Twitter Widget */
.twitter-list__item a {
  color: #00AAE3;
}
.twitter-list__item .twitter-icon {
  color: #00AAE3;
  font-size: 18px;
  margin-right: 6px;
}
/* Checkout Widget */
.checkout-widget .table td {
  border: none;
  padding: 12px 0;
}
.checkout-widget .table tr + tr > td {
  border-top: 1px solid #eee;
}
